.movies {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 252px);
}

.movies__info {
  text-align: center;
  margin: 30px auto auto;
}

.movies__more {
  width: 320px;
  height: 36px;
  margin: 50px auto 90px;
  border: none;
  border-radius: 6px;
  background-color: #F9F9F9;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}