.portfolio {
  background-color: #FFFFFF;
  box-sizing: border-box;
  padding: 0 70px 125px;
}

.portfolio__title {
  margin: 0 0 50px;
  color: #A0A0A0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__list-item {
  margin: 20px 0 0;
  padding-bottom: 9px;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__list-item:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #000000;
  transition: opacity .3s;
}

.portfolio__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

.portfolio__span {
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__list-item {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 39px;
  }

  .portfolio__list-item{
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 19px;
  }

  .portfolio__span {
    font-size: 18px;
    line-height: 28px;
  }
}