.not-found {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  box-sizing: border-box;
  padding: 30px 0 60px;
}

.not-found__container {
  height: calc(100% - 47px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.not-found__title {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  margin: 0 0 5px;
}

.not-found__text{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.not-found__back {
  border: none;
  color: #3456F3;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}