.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.navigation__container {
  display: grid;
  column-gap: 13px;
  grid-template-columns: repeat(2, min-content);
  margin-right: auto;
}

.navigation__films {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
}

.navigation__saved {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;
}

.navigation__profile {
  margin-left: auto;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 13px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}

.navigation__account {
  color: inherit;
  margin: 0;
}

.navigation__logo {
  background-image: url('../../images/profile-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  border-radius: 6px;
  width: 30px;
  height: 30px;
}

.navigation__sign-up {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
  margin: 0 30px 0 auto;
  transition: opacity .3s;
}

.navigation__sign-up:hover {
  opacity: 0.6;
}

.navigation__sign-in {
  text-decoration: none;
  background-color: #2BE080;
  color: #000000;
  border: none;
  padding: 0;
  min-width: 76px;
  min-height: 32px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s;
}

.navigation__sign-in:hover {
  opacity: 0.6;
}