.header {
  font-family: "Inter", Arial, sans-serif;
  padding: 18px 70px;
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  grid-column-gap: 44px;
}

.header_dark {
  background-color: #073042;
  color: #FFFFFF;
}

.header__link {
  height: 38px;
  justify-self: left;
}
